<IfModule mod_mime.c>
    AddEncoding br .js
    AddEncoding br .data
    AddEncoding br .wasm
</IfModule>

<IfModule mod_headers.c>
    # Brotliファイルのキャッシュ制御を設定
    <FilesMatch "\.(js|data|wasm)$">
        Header set Cache-Control "public, max-age=31536000"
    </FilesMatch>
</IfModule>
